body{
	margin-top: 0px;
	margin-left: 0px;
}
.s1{
	float: left;
}
.s2{
	float: right;
	
}
.ul1 li{
	display: inline;
	float: right;
	margin-left: 10px;
	margin-top: -30px;
}
.ul2 li{
	clear: both;
	display: block;
	float: right;
	list-style: none;
	margin-left:10px;

}

	

}
.ul2
{
	display: inline;
	
}
.footer1{
	background-color: grey;
	margin-top: 260px;
	padding: 10px 10px;
	margin-right:-10px;
	margin-left: 0px;
	clear:both;
}
.he {
	
	width: 100%;
	background-position:center;
	background-image: url("images/meguro.jpg");
	background-size:cover;
	position: absolute;
	left: 0px;
	height: 560px;

}


}
.pri{
	padding-left: -20px;
    margin-top: 100px;
}
.main{
	margin:auto;
	margin-top: 200px;
	width: 960px;
	background-color: white;
}

.wrap{
	background-color: grey;

    
}
nav li{
	display: inline;
    padding-left: 10px;


}
nav ul{
	float: right;
	padding-top: 20px;
}
nav li a 
{
	text-decoration: none;
	color: black;

}
.header{
	position: fixed;
	background-color: gray;
	width: 100%;

}